
@{
    ViewBag.Title = "SearchTickets";
}

<h2>Search Tickets</h2>

<form asp-action="DetailsFromConfirmationNumber">
    <p>
        Confirmation Number: <input type="submit" value="Search" />
        <input type="submit" value="confirmationNumber"/>
    </p>
</form>
